name: Build Lambda Layer

on:
  workflow_dispatch:

jobs:
  build-layer:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: "3.14"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies into layer folder
        run: |
          mkdir -p layer/python
          python -m pip install --no-binary :all: Pillow -t layer/python
          python -m pip install matplotlib -t layer/python
          python -m pip install reportlab -t layer/python

      - name: Zip the layer
        run: |
          cd layer
          zip -r9 ../layer.zip python
          cd ..

      - name: Upload layer.zip as artifact
        uses: actions/upload-artifact@v4
        with:
          name: lambda-layer-3.14-x86_64
          path: layer.zip
